<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
    <title>Hello</title>
</head>
<body>
    

    <script>

	// Set the domain that this is going to be communicating with
        const socket = io('http://raspberrypi.local:3000');

	// Wait for data to be emitted to the 'message' socket
        socket.on('message', (data) => {
	    // TODO: This is placeholder -- the data will likely be JSON or something
            document.getElementById('result').innerHTML = data
        });

    </script>

<p id="result"></p>


</body>
</html>
